@page "/games"
@using BowlingTrackerSupreme.Infrastructure.Database
@using Microsoft.EntityFrameworkCore
@inject BowlingTrackerSupremeDbContext DbContext
@attribute [StreamRendering]

<PageTitle>Games</PageTitle>

<h1>50 most recent games</h1>

<button>
    <a href="/games/create" class="btn btn-outline-primary">Create game</a>
</button>

@if (_games == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ParticipantCount</th>
            <th>Date created</th>
            <th>Date played</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in _games)
        {
            <tr>
                <td>@game.ParticipantCount</td>
                <td>@game.DateCreated.ToShortDateString()</td>
                <td>@game.DatePlayed.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private DisplayGame[]? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await DbContext.Games
            .OrderByDescending(g => g.DatePlayed)
            .Take(50)
            .Select(g => new DisplayGame
            {
                DateCreated = g.CreatedOn,
                DatePlayed = g.DatePlayed,
                ParticipantCount = g.Participants.Count(),
            })
            .ToArrayAsync();
    }

    private class DisplayGame
    {
        public int ParticipantCount { get; set; }
        public DateTime DatePlayed { get; set; }
        public DateTime DateCreated { get; set; }
    }
}
