@page "/games/create"
@using BowlingTrackerSupreme.Domain.Models
@using BowlingTrackerSupreme.Infrastructure.Database
@inject BowlingTrackerSupremeDbContext DbContext
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Game</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <div class="mb-3">
                <label for="DatePlayed" class="form-label">Title:</label>
                <InputDate id="DatePlayed" @bind-Value="Game.DatePlayed" class="form-control" />
                <ValidationMessage For="() => Game.DatePlayed" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>


@code {
    [SupplyParameterFromForm]
    private Game Game { get; set; } = new()
    {
        DatePlayed = DateTime.Now,
    };
    
    private async Task AddGame()
    {
        DbContext.Games.Add(Game);
        await DbContext.SaveChangesAsync();
        NavigationManager.NavigateTo("/Games");
    }
}
